.box {
  width: 400px;
  height: 400px;
  background: transparent;
  position: relative;
  left: 0;
  top: 0;
  right: "";
  bottom: "";
  border-radius: 50%;
  border: solid 10px #ff0000;
  font-style: "微软雅黑";
  font-size: 30px;
  color: #eeeeee;
  margin: 0 auto;
  font-weight: bold;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#0000ff), to(#ffa500));
  background: -moz-linear-gradient(top, #ffffff, #ff0000);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#0000ff, endColorstr=#ffa500, gradientType=0);
}
.circle {
  position: absolute;
  left: 200px;
  top: 0;
  right: "";
  bottom: "";
}
.point1 {
  width: 2px;
  height: 10px;
  background: #000000;
  position: absolute;
  left: 50%;
  top: 0;
  right: "";
  bottom: "";
  margin-left: -1px;
  transform-origin: 1px 200px;
  transform: rotate(0deg);
}
.point2 {
  width: 2px;
  height: 10px;
  background: #000000;
  position: absolute;
  left: 50%;
  top: 0;
  right: "";
  bottom: "";
  margin-left: -1px;
  transform-origin: 1px 200px;
  transform: rotate(30deg);
}
.point3 {
  width: 2px;
  height: 10px;
  background: #000000;
  position: absolute;
  left: 50%;
  top: 0;
  right: "";
  bottom: "";
  margin-left: -1px;
  transform-origin: 1px 200px;
  transform: rotate(60deg);
}
.point4 {
  width: 2px;
  height: 10px;
  background: #000000;
  position: absolute;
  left: 50%;
  top: 0;
  right: "";
  bottom: "";
  margin-left: -1px;
  transform-origin: 1px 200px;
  transform: rotate(90deg);
}
.point5 {
  width: 2px;
  height: 10px;
  background: #000000;
  position: absolute;
  left: 50%;
  top: 0;
  right: "";
  bottom: "";
  margin-left: -1px;
  transform-origin: 1px 200px;
  transform: rotate(120deg);
}
.point6 {
  width: 2px;
  height: 10px;
  background: #000000;
  position: absolute;
  left: 50%;
  top: 0;
  right: "";
  bottom: "";
  margin-left: -1px;
  transform-origin: 1px 200px;
  transform: rotate(150deg);
}
.point7 {
  width: 2px;
  height: 10px;
  background: #000000;
  position: absolute;
  left: 50%;
  top: 0;
  right: "";
  bottom: "";
  margin-left: -1px;
  transform-origin: 1px 200px;
  transform: rotate(180deg);
}
.point8 {
  width: 2px;
  height: 10px;
  background: #000000;
  position: absolute;
  left: 50%;
  top: 0;
  right: "";
  bottom: "";
  margin-left: -1px;
  transform-origin: 1px 200px;
  transform: rotate(210deg);
}
.point9 {
  width: 2px;
  height: 10px;
  background: #000000;
  position: absolute;
  left: 50%;
  top: 0;
  right: "";
  bottom: "";
  margin-left: -1px;
  transform-origin: 1px 200px;
  transform: rotate(240deg);
}
.point10 {
  width: 2px;
  height: 10px;
  background: #000000;
  position: absolute;
  left: 50%;
  top: 0;
  right: "";
  bottom: "";
  margin-left: -1px;
  transform-origin: 1px 200px;
  transform: rotate(270deg);
}
.point11 {
  width: 2px;
  height: 10px;
  background: #000000;
  position: absolute;
  left: 50%;
  top: 0;
  right: "";
  bottom: "";
  margin-left: -1px;
  transform-origin: 1px 200px;
  transform: rotate(300deg);
}
.point12 {
  width: 2px;
  height: 10px;
  background: #000000;
  position: absolute;
  left: 50%;
  top: 0;
  right: "";
  bottom: "";
  margin-left: -1px;
  transform-origin: 1px 200px;
  transform: rotate(330deg);
}
.twelve {
  position: absolute;
  left: 185px;
  top: 10px;
  right: "";
  bottom: "";
}
.three {
  position: absolute;
  left: 370px;
  top: 182px;
  right: "";
  bottom: "";
}
.six {
  position: absolute;
  left: 192px;
  top: 355px;
  right: "";
  bottom: "";
}
.nine {
  position: absolute;
  left: 15px;
  top: 182px;
  right: "";
  bottom: "";
}
.yuan {
  width: 400px;
  height: 400px;
  background: transparent;
  position: absolute;
  left: 0;
  top: 0;
  right: "";
  bottom: "";
  border-radius: 50%;
  transform-origin: 200px 200px;
}
.miao {
  animation: miao 60s linear 0s infinite ;
}
#miao {
  width: 2px;
  height: 160px;
  background: #ffffff;
  position: relative;
  left: 199px;
  top: 40px;
  right: "";
  bottom: "";
  transform-origin: 1px 160px;
}
.fen {
  animation: fen 3600s linear 0s infinite ;
}
#fen {
  width: 4px;
  height: 120px;
  background: #ffa500;
  position: relative;
  left: 198px;
  top: 80px;
  right: "";
  bottom: "";
  transform-origin: 2px 120px;
}
.shi {
  animation: shi 43200s linear 0s infinite ;
}
#shi {
  width: 8px;
  height: 90px;
  background: #ff0000;
  position: relative;
  left: 196px;
  top: 110px;
  right: "";
  bottom: "";
  transform-origin: 4px 90px;
}
.xin {
  width: 10px;
  height: 10px;
  background: #ffa500;
  position: absolute;
  left: 195px;
  top: 195px;
  right: "";
  bottom: "";
  border-radius: 50%;
}
@keyframes miao {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes fen {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes shi {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
