@charset "UTF-8";
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, legend, input, textarea, button, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

.clear {
  height: 1px;
  overflow: hidden;
  clear: both; }

a, img {
  border: 0;
display: inline-block;}

a {
  text-decoration: none; }

a:focus {
  text-decoration: none; }

li {
  list-style-type: none; }

input, button, textarea, select, option:focus {
  outline: none; }

i, em {
  font-style: normal; }

b, strong {
  font-weight: normal; }

a:link, a:visited, a:hover, a:active {
  color: #000; }

html, body {
  position: relative;
  width: 100%;
  height: 100%;
  background: #f5f5f5;}


.fontRed {
  color: #cd2f2f!important; }

.fontMain {
  color: #ff9900 !important; }

.fontGray{
  color: #666666!important;  }

.fontWhite{
  color: #ffffff!important;  }

.font-weight-bold{
  font-weight: bold;
}



.bg {
  background: #ff9900; }

.bgWhite{
  background: #ffffff;  }

.bg-gray{
  background: #cccccc;  }


.borTop {
  border-top: 1px solid #666666;
  border-color: rgba(102, 102, 102, 0.6); }

.borBomGray {
  border-bottom: 1px solid #666666;
  border-color: #cccccc;}

.borBom {
  border-bottom: 1px solid #666666;
  border-color: rgba(102, 102, 102, 0.6); }

.borBomD {
  border-bottom: 1px dashed #666666;
  border-color: rgba(102, 102, 102, 0.6); }

.bor {
  border: 1px solid #666666;
  border-color: rgba(102, 102, 102, 0.6); }

.borR {
  border-radius: 2px; }

.borTopShallow {
  border-top: 1px solid #666666;
  border-color: rgba(102, 102, 102, 0.2); }

.borBomShallow {
  border-bottom: 1px solid #666666;
  border-color: rgba(102, 102, 102, 0.2); }

.borBomDShallow {
  border-bottom: 1px dashed #666666;
  border-color: rgba(102, 102, 102, 0.2); }

/*描边*/

.bor-m-top {
  border-top: 1px solid #cccccc;
  border-color: rgba(204, 204, 204, 0.33); }

.bor-bom {
  border-bottom: 1px solid #cccccc;
  border-color: rgba(204, 204, 204, 0.33); }

.bor-bom-dash {
  border-bottom: 1px dashed #cccccc;
  border-color: rgba(204, 204, 204, 0.33); }

.bor-m {
  border: 1px solid #cccccc;
  border-color: rgba(204, 204, 204, 0.33); }


.font11 {
  font-size: 11px!important;
  line-height: 11px!important; }

.font12 {
  font-size: 12px!important;
  line-height: 12px!important; }

.font13 {
  font-size: 13px!important;
  line-height: 13px!important; }

.font14 {
  font-size: 14px!important;
  line-height: 14px!important; }

.font15 {
  font-size: 15px!important;
  line-height: 15px!important; }

.font16{
  font-size: 16px!important;
  line-height: 16px!important; }

.font18{
  font-size: 18px!important;
  line-height: 18px!important; }


.floatR {
  float: right; }

.floatL {
  float: left; }

.clearB {
  clear: both; }

.txtcen {
  text-align: center; }
.txtL {
  text-align: left; }
.txtR {
  text-align: right; }

.overflow-hidden{
  overflow: hidden;  }

.display-none{
  display: none;  }

.position-relative{
  position: relative;
}

.span{
  display: inline-block;  }

.btnStyle {
  width: 82%;
  height: 40px;
  background: #ff9900;
  border: 0;
  border-radius: 2px;
  color: #ffffff;
  font-size: 14px;
  margin: 0 9%; }

.a-btn{
  display: inline-block;
  width: 82%;
  height: 40px;
  background: #ff9900;
  border: 0;
  border-radius: 2px;
  color: #ffffff;
  font-size: 14px;
  line-height: 40px;
  margin: 0 9%;}


/*公共样式*/
.header {
  width: 100%;
  height: 41px; }

.content {
  width: 100%;
  height: auto;
  position: absolute;
  top: 41px;
  bottom:0;
  overflow-y:scroll;}

.header > a, .tit {
  display: inline-block;
  width: 10%;
  height: 41px;
  font-size: 13px;
  line-height: 41px;
  color: #fff; }

.tit {
  width: 80%;
  height: 41px; }

.footer {
  width: 100%;
  height: 53px;
  position: absolute;
  bottom: 0; }

.footer ul {
  width: 100%;
  height: 53px;
  display: flex; }

.list {
  position: relative;
  flex: 1;
  width: auto;
  height: 53px; }

.list > a {
  margin: 8px auto;
  display: block;
  width: 25px;
  height: 37px; }

.list > a > p {
  width: 25px;
  height: 22px;
  text-align: center;
  margin-bottom: 5px; }

.list > a > p > img {
  width: 22px;
  height: 22px; }

.list > a > span {
  width: auto;
  height: 10px;
  display: block;
  font: 10px/10px "微软雅黑";
  color: #fff; }

.num {
  width: 11px;
  height: 11px;
  background: #cd2f2f;
  position: absolute;
  top: 6px;
  left: 56%;
  border-radius: 6px;
  color: #fff; }


/*alert*/

/*透明层*/
.opacityDiv {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.15);
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  display: none; }

/*提示框*/
.askAlert,.yes-alert,.no-alert{
  width: 70%;
  height: 280px;
  position: fixed;
  top: 200px;
  left: 15%;
  background: #fff;
  z-index: 15;
  display: none;
  text-align: left; }

.alertTit {
  display: block;
  margin: 15px 8px; }

.iconImg{
  width: 60px;
  height: 60px;
  margin:10px auto;  }

.iconImg>img{
  width: 60px;
  height: 60px;}

.infoMessage {
  margin: 15px 8px; }

.noBtn, .yesBtn {
  width: 30%;
  height: 28px;
  position: absolute;
  border: 1px solid #ff9900;
  border-radius: 2px;
  background: #fff; }

.yesBtn {
  left: 55%;
  bottom: 10%; }

.noBtn {
  left: 15%;
  bottom: 10%; }



/*margin*/
.mar-top-5{
  margin-top:5px!important;
}
.mar-top-6{
  margin-top:6px!important;
}
.mar-top-8{
  margin-top:8px!important;
}
.mar-top-9{
  margin-top:9px!important;
}
.mar-top-10{
  margin-top:10px!important;
}
.mar-top-11{
  margin-top:11px!important;
}
.mar-top-12{
  margin-top:12px!important;
}
.mar-top-13{
  margin-top:13px!important;
}
.mar-top-14{
  margin-top:14px!important;
}
.mar-top-15{
  margin-top:15px!important;
}
.mar-top-16{
  margin-top:16px!important;
}
.mar-top-17{
  margin-top:17px!important;
}
.mar-top-19{
  margin-top:19px!important;
}
.mar-top-20{
  margin-top:20px!important;
}
.mar-top-21{
  margin-top:21px!important;
}
.mar-top-23{
  margin-top:23px!important;
}
.mar-top-25{
  margin-top:25px!important;
}
.mar-top-28{
  margin-top:28px!important;
}
.mar-top-30{
  margin-top:30px!important;
}
.mar-top-34{
  margin-top:34px!important;
}
.mar-top-35{
  margin-top:35px!important;
}
.mar-top-36{
  margin-top:36px!important;
}
.mar-top-40{
  margin-top:40px!important;
}
.mar-top-43{
  margin-top:43px!important;
}
.mar-top-45{
  margin-top:45px!important;
}
.mar-top-50{
  margin-top:50px!important;
}
.mar-top-56{
  margin-top:56px!important;
}
.mar-top-59{
  margin-top:59px!important;
}
.mar-top-71{
  margin-top:71px!important;
}
.mar-top-80{
  margin-top:80px!important;
}
.mar-top-100{
  margin-top:100px!important;
}



.mar-bottom-5{
  margin-bottom: 5px!important;
}
.mar-bottom-6{
  margin-bottom: 6px!important;
}
.mar-bottom-9{
  margin-bottom: 9px!important;
}
.mar-bottom-10{
  margin-bottom: 10px!important;
}
.mar-bottom-13{
  margin-bottom: 13px!important;
}
.mar-bottom-15{
  margin-bottom: 15px!important;
}
.mar-bottom-18{
  margin-bottom: 18px!important;
}
.mar-bottom-43{
  margin-bottom:43px!important;
}

.mar-left-0{
  margin-left:0px !important;
}
.mar-left-2{
  margin-left:2px !important;
}
.mar-left-4{
  margin-left:4% !important;
}
.mar-left-5{
  margin-left:5px !important;
}
.mar-left-6{
  margin-left:6px !important;
}
.mar-left-7{
  margin-left:7% !important;
}
.mar-left-9{
  margin-left:9% !important;
}
.mar-left-10{
  margin-left:10px !important;
}
.mar-left-15{
  margin-left:15% !important;
}



.mar-right-0{
  margin-right:0!important;
}
.mar-right-2{
  margin-right:2px!important;
}
.mar-right-4{
  margin-right:4%!important ;
}
.mar-right-5{
  margin-right:5%!important ;
}
.mar-right-6{
  margin-right:6%!important ;
}
.mar-right-9{
  margin-right:9%!important ;
}
.mar-right-15{
  margin-right:15px!important ;
}
.mar-right-25{
  margin-right:25px!important;
}


.mar-6{
  margin:0 6px!important;
  margin-top:10px!important;
}


/*padding*/
.padding-top-9{
  padding-top:9px!important;
}
.padding-top-14{
  padding-top:14px!important;
}


.padding-left-4{
  padding-left:4% !important;
}


.padding-right-4{
  padding-right:4%!important ;
}
.padding-right-5{
  padding-right:5%!important ;
}
.padding-right-9{
  padding-right:9%!important ;
}

.padding-bottom-8{
  padding-bottom:8px!important;
}
.padding-bottom-9{
  padding-bottom:9px!important;
}
.padding-bottom-10{
  padding-bottom:10px!important;
}
.padding-bottom-12{
  padding-bottom:12px!important;
}
.padding-bottom-14{
  padding-bottom:14px!important;
}
.padding-bottom-15{
  padding-bottom:15px!important;
}
.padding-bottom-19{
  padding-bottom:19px!important;
}
.padding-bottom-20{
  padding-bottom:20px!important;
}
.padding-bottom-210{
  padding-bottom:210px!important;
}