/*==============  about   share  ==============*/
.share-span{
    display: inline-block;
    width: auto;
    height: 12px;
    font-size:12px;
    line-height: 12px;
}
.about-code{
    width: 180px;
    height: 180px;
    margin: 0 auto;
    margin-top:101px;
    background: #666666;
}
.about-code>img{
    width: 180px;
    height: 180px;
}
.xuxian,.renwu{
    position: absolute;
    width: auto;
    height: auto;
}
.renwu{
    top:35%;
    left:32%;
}
.xuxian{
    top:14px;
    right:6.25%;
}
.renwu>img{
    width: 45%;
    height: 45%;
}
.xuxian>img{
    float: right;
    width: 45%;
    height:50% ;
}
/*============== changePw ==============*/
.change-info{
    font:12px/42px '微软雅黑';
    width: auto;
    height: 42px;
}
.change-input{
    width: 72%;
    height: 40px;
    text-indent: 5px;
}
/*============== login ==============*/
.login-logo>img{
    width: 75px;
    height: 75px;
    margin-top:25px;
    margin-bottom:58px;
}
.login-inp{
    width:82%;
    height:41px;
    font-size: 13px;
    margin:0 9%;
    display: block;
    border:none;
    border-bottom:1px solid #666;
    border-color:rgba(102,102,102,0.6) ;
}
.login-btn{
    width:82%;
    height:42px;
    color:#fff;
    margin:18px 9% 11px 9%;
    border:0;
    font-size: 18px;
}
.to-register{
    width:100%;
    text-align: center;
    font-size: 13px;
}
.login-footer{
    width:100%;
    height:59px;
    position: absolute;
    bottom:0;
}
.login-footer p{
    text-align: center;
    line-height: 59px;
    font-size: 13px;
    color:rgba(102,102,102,0.6);
}
/*============== forget register sup_register sup_regSuccess sup_prefectInfo ==============*/
.register-span{
    margin:0 9%;
    font-size: 11px;
    line-height: 11px;
    display: inline-block;
}
.register-inp{
    width:79%;
    height:40px;
    margin:0px 9%;
    padding-left:3%;
    display: block;
    border:1px solid #666;
    border-radius: 2px;
    border-color:rgba(102,102,102,0.6) ;
}
.code-left{
    width:53%;
    display: inline-block;
    border-right:0;
    margin-right: 0;
    margin-top:0;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}
.code-right{
    display: inline-block;
    float: left;
    width:26%;
    height:42px;
    background: rgba(255,153,0,0.3);
    color:rgba(0,0,0,0.7);
    border:1px solid #666;
    border-radius: 2px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-color:rgba(102,102,102,0.6) ;
    border-left: 0;
}
.success-image{
    width: 180px;
    height: 180px;
}
.prefect-select{
    width: 25%;
    height: 28px;
    overflow: hidden;
    margin-top:6px;
    display: inline-block;
    position: relative;
    margin-right: 10px;
}
.prefect-icon-down{
    display: block;
    position: absolute;
    right:0;
    top:-5px;
    width: 20%;
    height: 100%;
    background: #cccccc;
    font:14px/28px '微软雅黑';
    color: #666666;
}

/*============== message_order message_detail message_system sup_message pur_message ==============*/
.mes-info{
    float: left;
    width: 80%;
    height: 50px;
    line-height: 25px;
    margin-left:4%;
}
.mes-info>p{
    width: 100%;
    height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 25px;
}
.mes-icon-left{
    width: 23px;
    height: 23px;
    border-radius: 23px;
    color: #ffffff;
    position: relative;
    left:4%;
    top:14px;
}
.mes-icon-right{
    display: inline-block;
    width: auto;
    height: 23px;
    position: absolute;
    right:4%;
    top:15px;
}
.mes-a{
    display: inline-block;
    overflow: hidden;
    width: 100%;
    position: relative;
}
.mes-icon-num{
    display: inline-block;
    background: #ff0000;
    border-radius: 11px;
    width: 11px;
    height: 11px;
    position: absolute;
    top:-3px;
    right:-5px;
}
.mes-span{
    width: 90%;
    display: inline-block;
}
/*============== detail模块 ==============*/
.detail-state{
    display: inline-block;
    font: 15px/15px 微软雅黑;
    margin-top:21px;
}
.detail-span{
    display: inline-block;
    font-size: 12px;
    margin:10px 0 0 0;
}
.detail-image{
    width: 60px;
    height: 60px;
    margin-right:10px;
}
.detail-icon{
    width: 15px;
    height: 15px;
    display: inline-block;
    margin:5px;
}
.detail-gou{
    border:1px solid #cd2f2f;
    width: 10px;
    height: 10px;
    font: 10px/10px '微软雅黑'!important;
    display: inline-block;
    float: right;
    margin:3px 0 0 6px;
}
.detail-btn{
    width: 80px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    border: 0;
    color:#ffffff;
}
/*不同意 确认按钮*/
.detail-yes-no-btn{
    width: 60px;
    height: 30px;
    margin: 0 27px;
    border:0;
    color: #ffffff;
}
/*提款按钮*/
.cash-btn{
    width:60px;
    height: 30px;
    line-height:30px;
    font-size:12px;
    margin:23px 27px 0 27px ;
    color: #ffffff;
    border:0;
}
/*联系按钮*/
.detail-connect-btn{
    width: 80px;
    height: 30px;
    margin-top:5px;
    border: 0;
    color:#ffffff;
}
/*============== sup_amount ==============*/
/*百分比插件*/
.circle{
    width: 100%;
    height: 160px;
    position: relative;
}
#myStat{
    width: 180px;
    height: 180px;
    text-align: center;
    position: relative;
    top:-20px;
}
.amount-info{
    display: block;
    width: 120px;
    height: 12px;
    font:12px/12px '微软雅黑';
    position: absolute;
    left:52%;
    top:60%;
    margin-left:-60px;
}
.over-money{
    display: block;
    width: 120px;
    height: 14px;
    font:14px/14px '微软雅黑';
    position: absolute;
    left:52%;
    top:50%;
    margin-left:-60px;
    margin-top:-12px;
}
.timer{
    display: none;
}
.circle a{
    display: block;
    width: auto;
    height: 12px;
    font:12px/12px '微软雅黑';
    color: #ff9900;
    position: absolute;
    right:6%;
    bottom:25px;
}
.amount-inp{
    width: 40%;
    border:0;

}
.amount-li{
    display: flex;
}
.amount-li>span{
    flex: 1;
}
/*============== sup_bankcard ==============*/
.bank-span{
    width: auto;
    height: 14px;
    font:12px/14px '微软雅黑';
    margin:0 9%;
}
.bank-box{
    height: 45px;
    margin:0 9%;
    position: relative;
}
.bank-label{
    position: absolute;
    top:17px;
    left:15px;
    width: auto;
    height: 12px;
    line-height: 12px;
    font-size: 12px;
}
.bank-a{
    width: 100%;
    height: 100%;
    display: inline-block;
}
.bank-inp{
    width:100%;
    height: 100%;
    text-indent: 74px;
    font-size: 11px;
}
.bank-icon{
    width: 15px;
    height: 15px;
    line-height: 15px;
    position: absolute;
    font-size:15px;
    right: 10px;
    top:16px;
}
/*============== sup_bankList ==============*/
.bank-list-ul{
    width: 100%;
    height: auto;
    bottom:0;
    overflow-y:scroll ;
}
.bank-list-ul>li{
    width: 100%;
    height: 40px;
    position: relative;
}
.bank-list-label{
    width: 100%;
    height: 40px;
    display: block;
    font: 10px/10px '微软雅黑';
    line-height: 40px;
    text-indent: 4%;
}
.bank-list-icon{
    width: 14px;
    height: 15px;
    position: absolute;
    line-height: 15px;
    top:15px;
    right:4%;
    color: #999999;
}
.bank-list-icon>img{
    width: 14px;
    height: 15px;
}
/*============== sup_cashOrder ==============*/
.cash-span{
    font:11px/11px '微软雅黑';
    display: inline-block;
    margin-left:4%;
}
.cash-inp{
    width: 50%;
}
.icon-invo,.icon-read{
    display: inline-block;
    width: 12px;
    height: 12px;
    font-size: 12px!important;
    border-color:#cd2f2f;
    line-height: 12px;
}
/*============== sup_creditRecord ==============*/
.record-list{
    width: 100%;
    height: auto;
    overflow-y: scroll;
}
.record-list>li{
    width: 100%;
    height: 42px;
    display: flex;
    font:12px/42px '微软雅黑';
}
.record-list>li>span{
    width: 25%;
}
.record-list>li>.floatL{
    width: 21%;
}
.record-list>li>.floatR{
    width: 16%;
}
.record-icon{
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    margin:13.5px 5px 0 5px;
}
/*============== sup_host ==============*/
.noHas,.has{
    width: 100%;
    height: 100%;
    display: block;
}
.host-ul{
    width: 100%;
    height: auto;
}
.host-ul>li{
    width: 100%;
    height: auto;
}
.host-span{
    margin-left:4%;
    display: inline-block;
}
.add-icon{
    display: inline-block;
    width: 60px;
    height: 60px;
    margin:48px auto;
    font:60px/50px '微软雅黑';
    border-radius: 60px;
}
/*无内容时的样式*/
.add-icon-no{
    display: block;
    width: 60px;
    height: 60px;
    margin:189px auto;
    font:60px/50px '微软雅黑';
    border-radius: 60px;
    margin-bottom: 0;
}
/*============== sup_addHost ==============*/
.add-host-ul{
    width: 100%;
    height:auto;
}
.add-host-ul>li{
    width: 100%;
    height: 41px;
}
.add-host-ul>li>span{
    width: auto;
    height: 11px;
    font:11px/11px '微软雅黑';
    display: inline-block;
    margin:15px 0 0 4%;
    float: left;
}
.add-host-ul>li>input{
    width: 51%;
    height: 41px;
    font:11px/41px '微软雅黑';
    border:0;
    margin-left:8%;
    float: left;
}
.add-host-ul>li>b{
    display: inline-block;
    width: auto;
    height: 11px;
    float: left;
    font:11px/11px '微软雅黑';
    margin-top:15px;
}
.add-host-ul>li>i{
    width: auto;
    height: auto;
    float: right;
    margin: 12px 4% 0 0 ;
}
.add-host-ul>li>i>img{
    width: 15px;
    height: 15px;
}
/*下拉列表*/
.host-select{
    width: 25%;
    height: 28px;
    overflow: hidden;
    margin-top:6px;
    display: inline-block;
    position: relative;
}
.host-select>select{
    width: 100%;
    height: 28px;
}
.host-icon-down{
    display: block;
    position: absolute;
    right:0;
    top:0;
    width: 28%;
    height: 100%;
    background: #cccccc;
    font:14px/28px '微软雅黑';
    color: #666666;
}


/*============== sup_addNewHost ==============*/
.add-new-host-img>img{
    width: 237.5px;
    height: 218.5px;
    margin:31px 0 10px 0;
}
.add-new-host-box{
    line-height: 24px;
}
/*============== repayment ==============*/
.repayment-image{
    width: 100%;
    height: auto;
    margin-top:15px;
}
.repayment-image>img{
    width: 60px;
    height: 60px;
    margin:0 5px;
}
.repayment-icon{
    margin:15px 0 10px 9%;
}
.repayment-inp{
    width: 100%;
    height: 41px;
    margin:5px 0;
    text-indent: 65px;
}
.repayment-label{
    width: auto;
    height:11px;
    position: absolute;
    top:21px;
    left:2%;
    font:11px/11px '微软雅黑';
}
/*============== suggestions ==============*/
.suggestions{
    width: 78%;
    height: 328px;
    margin:35px 9% 0 9%;
    resize: none;
    padding:9px 5px 9px 7px;
    line-height: 24px;
}
.suggestions::-webkit-input-placeholder{
    color:rgba(102,102,102,0.6);
    font: 12px/24px '微软雅黑';
}
/*============== sup_index ==============*/
.bottom-53{
	bottom: 53px;
}
.index-header{
    width: 100%;
    height:55px;
    position: absolute;
    top:0;
    left:0;
}
.index-content{
    width: 100%;
    height: auto;
    position: absolute;
    top:55px;
    bottom:53px;
    overflow: scroll;
}
/*header*/
.index-header-span{
    display: inline-block;
    width: 50%;
    height:15px;
    font-size: 15px;
    line-height: 15px;
    margin:20px 0 20px 4%;
}
.index-icon{
    float: right;
    display: inline-block;
    font-size: 20px !important;
    line-height: 20px;
    width: 20px;
    height:20px;
    margin:17px 4% 18px 0;
    color:#ff9900!important;
}
/*content*/
.has-limit{
    width:auto;
    height:115px;
    margin:5px 0;
    display: flex;
}
.limit{
    height: 100%;
    flex: 1;
    text-align: center;
    padding:15px 4%;
}
.borRight{
    border-right:1px solid #666;
    border-color:rgba(102,102,102,0.6);
}
.index-limit-txt{
    width:auto;
    height:12px;
    font:12px/12px "微软雅黑";
    text-align: left;
}
.index-state-info{
    height:13px;
    font:13px/13px "微软雅黑";
    font-weight: bold;
    margin-top: 20px;
}
.index-state-info-no{
    display: none;
    height:13px;
    font:13px/13px "微软雅黑";
    font-weight: bold;
    margin-top: 20px;
}
.index-state-ok{
    width:100%;
    height:14px;
    font:14px/14px "微软雅黑";
    font-weight: bold;
    position: absolute;
    top:50%;
    margin-top: -7px;
}
.index-header-a{
    width:auto;
    height: 11px;
    font:11px/11px "微软雅黑";
}
.index-tab-list{
    width: 100%;
    height: auto;
}
#myTab{
    width:128px;
    height:32px;
    background: #eee;
    border-radius: 16px;
    z-index: 1000;
    margin:7px auto;
}
#myTab>li{
    float: left;
    border-radius: 16px;
}
#myTab > li.active > a, #myTab > li.active > a:hover, #myTab > li.active > a:focus{
    background: #ff9900;
}
#myTab>li>a{
    border:0;
    color:#000;
    border-radius: 16px;
    font:12px/12px "微软雅黑";
    margin-right: 0;
}
#mySecTabDay,#mySecTabMonth,#mySecTabYear{
    border: 0;
    border-bottom: 1px dashed #ccc;
    display: flex;
}
#mySecTabDay>li,#mySecTabMonth>li,#mySecTabYear>li{
    text-align: center;
    flex:1;
}
#mySecTabDay>li>a,#mySecTabMonth>li>a,#mySecTabYear>li>a{
    border:0;
    color:#000;
    font:12px/12px "微软雅黑";
    margin-right: 0;
}
#mySecTabDay > li.active > a, #mySecTabDay > li.active > a:hover, #mySecTabDay > li.active > a:focus{
    color:#ff9900;
    background: none;
}
#mySecTabMonth > li.active > a, #mySecTabMonth > li.active > a:hover, #mySecTabMonth > li.active > a:focus{
    color:#ff9900;
    background: none;
}
#mySecTabYear > li.active > a, #mySecTabYear > li.active > a:hover, #mySecTabYear > li.active > a:focus{
    color:#ff9900;
    background: none;
}
/*chart*/
#dayOrderChart,#dayHostChart,#dayNumChart,#monthOrderChart,#monthHostChart,#monthNumChart,#yearOrderChart,#yearHostChart,#yearNumChart{
    height: 200px;
}
/*list*/
.index-list{
    width:100%;
    height:auto;
    overflow: hidden;
    margin-top:5px;
}
.index-list-ul{
    width: 100%;
    height: auto;
}
.index-list-ul>li{
    height:30px;
    display: flex;
    margin:0 4%;
}
.index-list-ul>li>span{
    display: inline-block;
    height:30px;
    font:12px/30px "微软雅黑";
    flex:1;
}
/*不同状态不同样式*/
.data-up,.icon-shangjiantou{
    color: #cd2f2f;
}
.data-down,.icon-xiajiantou{
    color:#35bc6c;
}
.data-up>b,.data-down>b{
    display: inline-block;
    margin-right: 11px;
}
.sup-index-no{
    display: none;
    width: 100%;
    text-align: center;
    position: fixed;
    top:50%;
    background: #cccccc;
    opacity: 1;
}
/*============== sup_invite ==============*/
.invite-code{
    width: 100%;
    height: auto;
    margin-top:15px;
}
.invite-code>img{
    width: 179px;
    height:179px ;
}
.more-invite{
    display: inline-block;
    width: 82%;
    height: 40px;
    background: #ff9900;
    color: #ffffff;
    border-radius: 2px;
    font:14px/40px '微软雅黑';
    margin-top:60px;
}
/*============== sup_myCenter ==============*/
/*banner*/
.center-banner{
    width: 100%;
    height: 126px;
    overflow: hidden;
    position: relative;
}
.center-bg{
    z-index: -1;
    width: 100%;
    height: auto;
    position: absolute;
}
.center-bg>img{
    width:100%;
    height: auto;
}
.center-head-icon{
    width: 62px;
    height: 62px;
    margin:0 auto;
    margin-top:26px;
}
.center-head-icon>img{
    display: inline-block;
    width: 60px;
    height: 60px;
    border:1px solid #cccccc;
    border-radius: 60px;
    background: #cccccc;
}
.center-ul{
    width: 100%;
    height: auto;
}
.center-ul>ul>li{
    width: 100%;
    height: 41px;
    font:11px/41px '微软雅黑';
}
.center-ul>ul>li>a{
    width: 100%;
    height: 41px;
    display: block;
}
.center-ul>ul>li>a>span{
    margin-left:4%;
}
.center-ul>ul>li>a>i{
    float:right;
    margin-right: 4%;
    color:#ccc;
}
.center-ul>ul>li>a>em{
    float:right;
    margin-right: 4%;
    font-size: 12px;
}
.center-ul>ul>li>a>b{
    float: right;
    margin-right: 4%;
    color:#303034;
    opacity: 0.4;
}
.center-btn{
    width: 80%;
    height:39px;
    border:1px solid #ccc;
    border-radius: 2px;
    background: #ffffff;
    margin-top: 50px;
}
/*============== sup_order ==============*/
/*以及选项卡nav*/
#my-order-tab{
    width:100%;
    height: 42px;
    display: flex;
    border:0;
}
#my-order-tab li{
    flex:1;
}
#my-order-tab>li>a{
    text-align: center;
    padding:0;
    border:0;
    color:#000;
    font:14px/42px "微软雅黑";
    margin-right: 0;
}
#my-order-tab > li.active > a, #my-order-tab > li.active > a:hover, #my-order-tab > li.active > a:focus{
    color: #ff9900;
}
/*二级选项卡nav*/
#my-order-sec-tab{
    width:100%;
    height: 44px;
    display: flex;
    border:0;
}
#my-order-sec-tab li{
    height:44px;
    flex:1;
    background: rgba(102,102,102,0.4);
    margin:0 2px;
}
#my-order-sec-tab>li>a{
    height: 44px;
    text-align: center;
    padding:0;
    border:0;
    color:#000;
    font:12px/22px "微软雅黑";
    margin-right: 0;
    display: flex;
    flex-direction: column;
}
#my-order-sec-tab>li>a>b{
    font:11px/22px '微软雅黑';
    flex:1;
}
#my-order-sec-tab>li>a>span{
    flex: 1;
}
#my-order-sec-tab > li.active > a, #my-order-sec-tab > li.active > a:hover, #my-order-sec-tab > li.active > a:focus{
    color: #ffffff;
    background: #ff9900;
}
#my-order-tab-content{
    width:100%;
    height: auto;
    position:absolute ;
    top:42px;
    bottom:0px;
    overflow-y: scroll;
}
#my-order-sec-tab-content{
    width:100%;
    height: auto;
    position:absolute ;
    top:44px;
    bottom:0px;
    overflow-y: scroll;
}
/*订单*/
.order-header{
    width:100%;
    height: 28px;
    display: flex;
    border-bottom: 1px solid #666666;
    border-color: rgba(102,102,102,0.2);
    margin-top:2px;
}
.order-code{
    height: 28px;
    font:15px/28px '微软雅黑';
    flex: 1;
    margin-left:15px;
}
.order-state{
    flex: 1;
    height: 28px;
    font:15px/28px '微软雅黑';
    text-align: right;
    margin-right: 15px;
}
.order-content{
    border-bottom:1px solid #666666;
    position: relative;
}
.order-name{
    width: auto;
    height: 12px;
    font:12px/12px '微软雅黑';
    margin:10px 0 5px 15px;
}
.time-icon{
    width: auto;
    height: 12px;
    font:12px/12px '微软雅黑';
    margin:0 0 10px 15px;
}
.order-time{
    display: inline-block;
}
.next-icon{
    display: inline-block;
    float:right;
    margin-right: 10px;
    color:#303034;
}
.order-sum{
    width: auto;
    height: 12px;
    font:12px/12px '微软雅黑';
    margin:0 0 5px 15px;
    color: #cd2f2f;
}
.order-btn{
    width: auto;
    height: 30px;
    float: right;
    margin-bottom:5px;
}
.submit-btn{
    width: auto;
    height: 30px;
    position: absolute;
    top:40px;
    right:0px;
    line-height: 30px;
    font-size: 12px;
}
.sub-btn{
    border:0;
    border-radius: 2px;
    color: #ffffff;
    padding:0 5px;
    background: #ff9900;
    margin-right: 15px;
}
.disagree,.agree,.get-money{
    float: left;
    width: 50px;
    height: 30px;
    border:0;
    color: #ffffff;
    font-size:12px;
    border-radius: 2px;
}
.dis-order-btn{
    width: 65px;
    height: 30px;
    background: #ff9900;
    color: #ffffff;
    border:0;
}
.disagree{
    background: #cccccc;
    margin-right: 30px;
}
.agree{
    background: #ff9900;
    margin-right: 15px;
}
/*提款按钮*/
.get-money{
    background: #ff9900;
    margin-right: 15px;
}
/*实得金额*/
.get-real-money{
    width: auto;
    height: 12px;
    font:13px/13px '微软雅黑';
    color:#cd2f2f;
    margin:10px 0 10px 15px;
}
/*待还款金额,日期*/
.order-repay-sum,.rp-date{
    width: auto;
    height: 12px;
    font:12px/12px '微软雅黑';
    margin:0 0 5px 15px;
    color: #cd2f2f;
}
.repay{
    clear: both;
    width: auto;
    margin-left: 15px;
    color:#666;
    margin-bottom:5px;
    font-size:12px;
}
.repay>b{
    float: right;
    margin-right: 15px;
}
.order-info{
    width: auto;
    font-size:12px;
    margin:0 15px 15px 15px;
}
/*已完成界面*/
.suc-header{
    width: 100%;
    height: 44px;
    background: rgba(255,153,0,0.4);
    font:14px/14px '微软雅黑';
    overflow: hidden;
}
.suc-header>p{
    width: auto;
    height: 14px;
    margin: 15px;
}
/*已完成list*/
.suc-detail{
    width: 100%;
    height: auto;
    position: absolute;
    top:44px;
    bottom:0;
    overflow-y: scroll;
}
/*已关闭界面*/
.close-header{
    width: 100%;
    height: 44px;
    background: rgba(255,153,0,0.4);
    font:14px/14px '微软雅黑';
    overflow: hidden;
}
.close-header>p{
    width: auto;
    height: 14px;
    margin: 15px;
}
/*已关闭list*/
.close-detail{
    width: 100%;
    height: auto;
    position: absolute;
    top:44px;
    bottom:0;
    overflow-y: scroll;
}

/*============== pur_ads ==============*/
.ads-ul{
    width: 100%;
    height: auto;
    overflow: hidden;
}
.ads-ul>li{
    width: 116%;
    height: 70px;
    overflow: hidden;
    transition: margin-left 0.5s linear 0s;
    -moz-transition:margin-left 0.5s linear 0s;
    -webkit-transition:margin-left 0.5s linear 0s;
    -o-transition:margin-left 0.5s linear 0s;
    margin-left:0;
}
.ads-left-box{
    width: 86.4%;
    height: 60px;
}
.ads-right-box{
    width: 13.6%;
    height: 70px;
    background: #fd3e39;
}
.ads-right-box>p{
    font-size: 15px;
    line-height: 70px;
}
.mar-to-left{
    margin-left:-60px!important;
}
.ads-left-icon{
    width: 50px;
    height: 60px;
}
.ads-left-icon>span{
    display: inline-block;
    width: 30px;
    height:30px;
    font-size: 11px;
    line-height: 30px;
    margin:13px 0 0 4%;
    background: #666;
    color: #ffffff;
    border-radius: 25px;
}
.ads-add-btn{
    width: 100%;
    position: absolute;
    bottom:0;
}
.ads-add-btn>a{
    width: 100%;
    height: 44px;
    font-size:15px;
    line-height: 44px;
    background: #ff9900;
    color: #ffffff;
    display: inline-block;
}
/*============== pur_adsDetail ==============*/
.ads-detail-inp{
    width: 100%;
    height: 40px;
    text-indent: 5px;
}
.ads-detail-select{
    width: 47%;
    height: 40px;
    position: relative;
}
.ads-detail-select>select{
    width: 100%;
    height: 40px;
    line-height: 40px;
}
.ads-detail-down{
    display: block;
    position: absolute;
    right:0;
    top:0;
    width: 18%;
    height: 100%;
    background: #cccccc;
    font:14px/40px '微软雅黑';
    color: #666666;
}
.ads-detail-gou{
    display: inline-block;
    width: 13px;
    height: 13px;
    border-radius: 13px;
}
/*============== pur_index ==============*/
.pur-index-content{
    width: 100%;
    height: auto;
    position: absolute;
    bottom:53px;
    overflow-y: scroll;
    top:0;
}
/*content*/
.pur-index-banner{
    width: 100%;
    height:185px;
}
.pur-index-banner>img{
    width: 100%;
    height:185px;
}
.pur-index-has-limit{
    width:auto;
    height:100px;
    margin:10px 9%;
    display: flex;
}
.pur-index-limit{
    height: 100%;
    flex: 1;
}
.borRight{
    border-right:1px solid #666;
    border-color:rgba(102,102,102,0.6);
}
.pur-index-limit-txt{
    width:auto;
    height:12px;
    font:12px/12px "微软雅黑";
    text-align: left;
}
.pur-index-cha-money{
    width:auto;
    height: 11px;
    font:11px/11px "微软雅黑";
    color:#ff9900;
    position: absolute;
    bottom:15px;
    right:10px;
}
.pur-index-select{
    width: 75px;
    height: 28px;
    margin-right: 15px;
    margin-bottom:10px;
    position: relative;
}
.pur-index-down{
    position: absolute;
    top:0;
    right: 0;
    display: inline-block;
    width: auto;
    height: 28px;
    line-height: 38px;
    background: #cccccc;
}
.pur-index-select>select{
    width: auto;
    height: 28px;
    line-height: 28px;
}
/*list*/
.pur-index-ul>li{
    overflow: hidden;
    padding:10px 4%;
}
.pur-index-img{
    margin-right:4%;
}
.pur-index-img>img{
    width: 50px;
    height: 50px;
}
.buy-btn{
    width: 50px;
    height: 30px;
    margin:0;
    margin-top:14px;
    line-height: 30px;
}
/*============== pur_placeOrder ==============*/
/*content*/
.place-order-img{
    width: 50px;
    height: 50px;
    margin:23px 0;
}
.width-79{
    width:79%;
}
/*list*/
.place-order-list{
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
}
.place-order-list>ul{
    width: 100%;
}
.place-order-list>ul>li>div{
    position: relative;
}
.place-order-span{
    display: inline-block;
    width: auto;
    height: 11px;
    margin:15px 0 15px 4%;
}
.place-order-inp{
    width: 75.6%;
    /*多个商品时宽度为65%*/
    height:40px;
    font-size: 12px;
    text-indent: 30px;
    margin-bottom: 5px;
}
.delete-box{
    display: none;
    width: 23px;
    height: 21px;
    position: absolute;
    top:50%;
    right: 4%;
    margin-top:-10px;
    overflow: hidden;
}
.delete-icon{
    width: 23px;
    height: 21px;
    line-height: 20px;
    display: block;
}
.add-btn{
    height: 30px;
    margin-top:5px;
}
.icon-add{
    width: 16px;
    height: 16px;
    border-radius: 16px;
    background: #ff9900;
    color: #ffffff;
    margin:8px 4px;
    text-align: center;
    line-height: 16px;
}
.borLine{
    width: 100%;
    height: 0;
    padding-top:10px;
}
.borLine1{
    display: none;
    width: 100%;
    height: 0;
    padding-top:10px;
    margin-bottom: 10px;
}
/*克隆完后的input样式*/
.clone-inp{
    width:65%; ;
}
/*detailInfo*/
.detail-info{
    width: 100%;
    height: auto;
    overflow: hidden;
}
.detail-info>ul>li{
    position: relative;
}
.sec-inp{
    width: 76.6%;
    height: 30px;
    position: relative;
    left:-1%;
}
@media screen and (max-width: 321px) {
    .sec-inp {
        width: 70.6%;
    }
    .sel-li>i{
        right:6.6%;
    }
    .iconM{
        position: absolute;
        top:10px;
        left:26%;
    }
    .wid-txt{
        margin-right:7.6%;
    }
    .add-btn{
        width: 35%;
        margin-right: 6%;
    }
    .place-order-inp{
        width: 70.6%;
    }
    .wid-inp {
        width: 66.6%;
    }
}
@media screen and (max-width:375px) and (min-width:321px) {
    .sec-inp {
        width: 76.6%;
    }
    .sel-li > i {
        right: 3.6%;
    }
    .iconM{
        position: absolute;
        top:10px;
        left:23%;
    }
    .wid-txt{
        margin-right:6.6%;
    }
    .add-btn{
        width: 30%;
        margin-right: 4%;
    }
    .wid-inp{
        width:72.6% ;
    }
}
@media screen and (min-width: 414px) {
    .sec-inp {
        width: 76.6%;
    }
    .sel-li > i {
        right: 4.6%;
    }
    .iconM{
        position: absolute;
        top:10px;
        left:21%;
    }
    .wid-txt{
        margin-right:5.6%;
    }
    .add-btn{
        width: 30%;
        margin-right: 5%;
    }
    .wid-inp{
        width:72.6% ;
    }
}
.sel-li>i{
    width: 20px;
    height: 28px;
    line-height: 38px;
    background: #cccccc;
    display: inline-block;
    position: absolute;
    top:7px;
}
.iconD{
    position: absolute;
    top:15px;
    right:8%;
}
.place-order-book{
    font:12px/12px '微软雅黑';
    height: 12px;
    width: auto;
    display: inline-block;
    margin-top:7px;
}
.gou-Icon{
    display: inline-block;
    width: 10px;
    height: 10px;
    border:1px solid #cd2f2f;
    margin-left: 6px;
    margin-top:1px;
    position: relative;
    color:#cd2f2f;
    font-size:11px;
}
.gou-Icon>img{
    width: 14px;
    height: 12px;
    display: inline-block;
    line-height: 10px;
    position: absolute;
    left:-2px;
    top:-2px;
}
/*============== 协议 ==============*/
.protocol-span{
    font-size:14px;
    line-height: 18px;
    display: block;
}
/*============== 取消苹果 默认样式 ==============*/
input[type="button"], input[type="submit"], input[type="reset"] {
    -webkit-appearance: none;
}
textarea { -webkit-appearance: none;}
