.content{
    bottom: 0;
}
.share-span{
    display: inline-block;
    width: auto;
    height: 12px;
    font-size:12px;
    line-height: 12px;
}
.code{
    width: 180px;
    height: 180px;
    margin: 0 auto;
    margin-top:101px;
    background: #666666;
}
.code>img{
    width: 180px;
    height: 180px;
}
.xuxian,.renwu{
    position: absolute;
    width: auto;
    height: auto;
}
.renwu{
    top:35%;
    left:32%;
}
.xuxian{
    top:14px;
    right:6.25%;
}
.renwu>img{
    width: 45%;
    height: 45%;
}
.xuxian>img{
    float: right;
    width: 45%;
    height:50% ;
}


