@charset "UTF-8";
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, legend, input, textarea, button, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

.clear {
  height: 1px;
  overflow: hidden;
  clear: both; }

a, img {
  border: 0; }

a {
  text-decoration: none; }

a:focus {
  text-decoration: none; }

li {
  list-style-type: none; }

input, button, textarea, select, option:focus {
  outline: none; }

i, em {
  font-style: normal; }

b, strong {
  font-weight: normal; }

a:link, a:visited, a:hover, a:active {
  color: #000; }

html, body {
  position: relative;
  width: 100%;
  height: 100%; }

.fontRed {
  color: #cd2f2f; }

.fontMain {
  color: #ff9900 !important; }
.bg {
  background: #ff9900; }

.borTop {
  border-top: 1px solid #666666;
  border-color: rgba(102, 102, 102, 0.6); }

.borBom {
  border-bottom: 1px solid #666666;
  border-color: rgba(102, 102, 102, 0.6); }

.borBomD {
  border-bottom: 1px dashed #666666;
  border-color: rgba(102, 102, 102, 0.6); }

.bor {
  border: 1px solid #666666;
  border-color: rgba(102, 102, 102, 0.6); }

.font11 {
  font-size: 11px;
  line-height: 11px; }

.font12 {
  font-size: 12px;
  line-height: 12px; }

.floatR {
  float: right; }

.floatL {
  float: left; }

.clearB {
  clear: both; }

.borR {
  border-radius: 2px; }

.btnStyle {
  width: 82%;
  height: 40px;
  background: #ff9900;
  border: 0;
  border-radius: 2px;
  color: #ffffff;
  font-size: 14px;
  margin: 0 9%; }

.txtcen {
  text-align: center; }

.header {
  width: 100%;
  height: 41px; }

.content {
  width: 100%;
  height: auto;
  position: absolute;
  top: 41px; }

.header > a, .tit {
  display: inline-block;
  width: 10%;
  height: 41px;
  font-size: 13px;
  line-height: 41px;
  color: #fff; }

.tit {
  width: 80%;
  height: 41px; }

.footer {
  width: 100%;
  height: 53px;
  position: absolute;
  bottom: 0; }

.footer ul {
  width: 100%;
  height: 53px;
  display: flex; }

.list {
  position: relative;
  flex: 1;
  width: auto;
  height: 53px; }

.list > a {
  margin: 8px auto;
  display: block;
  width: 25px;
  height: 37px; }

.list > a > p {
  width: 25px;
  height: 22px;
  text-align: center;
  margin-bottom: 5px; }

.list > a > p > img {
  width: 22px;
  height: 22px; }

.list > a > span {
  width: auto;
  height: 10px;
  display: block;
  font: 10px/10px "微软雅黑";
  color: #fff; }

.num {
  width: 11px;
  height: 11px;
  background: #cd2f2f;
  position: absolute;
  top: 6px;
  left: 56%;
  border-radius: 6px;
  color: #fff; }

/*透明层*/
.opacityDiv {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.15);
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  display: none; }

/*提示框*/
.askAlert,.yes-alert,.no-alert{
  width: 70%;
  height: 35%;
  position: absolute;
  top: 25%;
  left: 15%;
  background: #fff;
  z-index: 15;
  display: none;
  text-align: left; }

.alertTit {
  display: block;
  margin: 15px 8px; }

.infoMessage {
  margin: 15px 8px; }

.noBtn, .yesBtn {
  width: 30%;
  height: 28px;
  position: absolute;
  border: 1px solid #ff9900;
  border-radius: 2px;
  background: #fff; }

.yesBtn {
  left: 55%;
  bottom: 10%; }

.noBtn {
  left: 15%;
  bottom: 10%; }
/*new===========================*/
.fontGray{
  color: #666666;
}
.overflow-hidden{
  overflow: hidden;
}
.bg-gray{
  background: #cccccc;
}
.display-none{
  display: none;
}
/*margin*/
.mar-6{
  margin:0 6px;
  margin-top:10px;
}
.mar-top-9{
  margin-top:9px;
}
.mar-top-10{
  margin-top:10px;
}
.mar-top-15{
  margin-top:15px;
}
.mar-top-20{
  margin-top:10px;
}
.mar-top-43{
  margin-top:43px;
}
.mar-bottom-15{
  margin-bottom: 15px;
}
.mar-bottom-10{
  margin-bottom: 10px;
}
.mar-right-0{
  margin-right:0
}
.mar-right-25{
  margin-right:25px;
}
/*padding*/
.padding-bottom-15{
  padding-bottom:15px;
}