.header{
    width:100%;
    height:41px;
}
.content{
    width:100%;
    height:auto;
    position:absolute;
    top:41px;
    bottom:0px;
}
.logo{
    width:75px;
    height: 75px;
    margin:66px;
}
.footer{
    width: 100%;
    height: 41px;
    position: absolute;
    bottom: 0;
}

/*content*/
.content-logo{
    width:100%;
    height:166px;
    overflow: hidden;
}
.loginInp{
    width:80%;
    height:41px;
    font-size: 13px;
    margin:0 10%;
    display: block;
    border:none;
    border-bottom:1px solid #666;
    border-color:rgba(102,102,102,0.6) ;
}
a{
    display: block;
    height:auto;
}
.forgetPw{
    color:#ff9900;
    float:right;
    margin:20px 10% 0 0 ;
    font-size: 13px;
}
.loginBtn{
    width:80%;
    height:42px;
    color:#fff;
    margin:18px 10% 11px 10%;
    border:0;
    font-size: 18px;
}
.toRegister{
    width:100%;
    color:#ff9900;
    text-align: center;
    font-size: 13px;
}
.footer p{
    width:100%;
    height:40px;
    text-align: center;
    line-height: 40px;
    font-size: 13px;
    color:#666;
    opacity: 0.6;
}