 .header{
    width: 100%;
    height:41px;
    position: absolute;
    top:0;
    left:0;
}
.content{
    width: 100%;
    height: auto;
    position: absolute;
    top:41px;
    bottom:53px;
}
 .footer{
    width:100%;
    height:53px;
    position: absolute;
    bottom:0;
}
/*header*/
.header p{
    width:100%;
    height:15px;
    text-align: center;
    font:13px/13px '微软雅黑';
    margin-top:15px;
    color: #ffffff;
}
/*content*/
.content>ul>li{
    width: 100%;
    height: 50px;
}
.li-a{
    display: inline-block;
    overflow: hidden;
    width: 100%;
    height: 50px;
    position: relative;
}
.info{
    width: 80%;
    margin-left: 10%;
    height: 50px;
    text-indent: 20px;
    line-height: 25px;
}
.icon-left{
    width: 23px;
    height: 23px;
    border-radius: 23px;
    color: #ffffff;
    position: relative;
    left:4%;
    top:10px;
}
.icon-right{
    display: inline-block;
    width: auto;
    height: 23px;
    margin-right: 4%;
    position: absolute;
    right:4%;
    top:15px;
}
.icon-num{
    display: inline-block;
    background: #ff0000;
    border-radius: 11px;
    width: 11px;
    height: 11px;
    position: absolute;
    top:-3px;
    right:-5px;
}
/*footer*/
.footer ul{
    width: 100%;
    height: 53px;
    display: flex;
}
.list{
    position: relative;
    flex: 1;
    height:53px;
}
.list>a{
    margin: 8px auto;
    display: block;
    width:25px;
    height: 37px;

}
.list>a>p{
    width: 25px;
    height: 22px;
    text-align: center;
    margin-bottom:5px ;
}
.list>a>p>img{
    width:22px;
    height: 22px;
}
.list>a>span{
    width: auto;
    height: 10px;
    display: block;
    font:10px/10px "微软雅黑";
    color:#fff;
}
.num{
    width: 11px;
    height: 11px;
    background: #ff0000;
    position: absolute;
    top:6px;
    left:56%;
    border-radius: 6px;
    color: #ffffff;
}