 .header{
    width:100%;
    height:41px;
}
 .content{
    width:100%;
    height:auto;
    position:absolute;
    top:41px;
    bottom:0px;
}
.header a{
    display: inline-block;
    width:10%;
    height:41px;
    line-height: 41px;
    font-size: 13px;
    color:#fff;
}
.tit{
    display: inline-block;
    width:80%;
    height:41px;
    line-height: 41px;
    font-size: 13px;
    color:#fff;
}
/*content*/
.content>ul>li{
    width: 100%;
    height: 50px;
}
.li-a{
    display: inline-block;
    overflow: hidden;
    width: 100%;
    height: 50px;
    position: relative;
}
.info{
    width: 90%;
    margin-left: 4%;
    height: 50px;
    line-height: 25px;
}
.icon-right{
    display: inline-block;
    width: auto;
    height: 23px;
    margin-right: 4%;
    position: absolute;
    right:0%;
    top:15px;
}
.font-66{
    color: #666666;
}
