.register-span{
    margin:15px 9%;
    font-size: 14px;
    line-height: 14px;
    display: inline-block;
}
.register-inp{
    width:79%;
    height:40px;
    margin:10px 9%;
    padding-left:3%;
    display: block;
    border:1px solid #666;
    border-radius: 2px;
    border-color:rgba(102,102,102,0.6) ;
}
.code-left{
    width:53%;
    display: inline-block;
    border-right:0;
    margin-right: 0;
    margin-top:0;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}
.code-right{
    display: inline-block;
    float: left;
    width:24%;
    height:42px;
    background: rgba(255,153,0,0.3);
    color:rgba(0,0,0,0.7);
    border:1px solid #666;
    border-radius: 2px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-color:rgba(102,102,102,0.6) ;
    border-left: 0;
}
.ok-btn{
    width:80%;
    height:42px;
    margin:20px 10%;
    border:0;
    font-size: 18px;
}
.register-btn{
    display: block;
    width:80%;
    height:40px;
    line-height: 40px;
    color:#fff;
    margin:0 10%;
    border:0;
    font-size: 14px;
}
.register-margin{
    margin:30% 0;
}
.success-span{
    margin:10px 9%;
    font-size: 12px;
    line-height: 12px;
    display: inline-block;
}
.success-image{
    width: 180px;
    height: 180px;
    margin:20px 0 20px 0;
}