/*content*/
.tit1{
    width: auto;
    height: 12px;
    font:12px/12px '微软雅黑';
    padding: 9px 8%;
    color:#666;
}
.list{
    width: 100%;
    height: auto;
    position: absolute;
    top:31px;
    bottom:0;
    overflow-y:scroll ;
}
.list>li{
    width: 100%;
    height: 40px;
    position: relative;
}
label{
    width: 100%;
    height: 40px;
    display: block;
    font: 10px/10px '微软雅黑';
    line-height: 40px;
    text-indent: 25px;
}
.icon{
    width: 14px;
    height: 15px;
    position: absolute;
    line-height: 15px;
    top:15px;
    right:4%;
    color: #999999;
}
.icon>img{
    width: 14px;
    height: 15px;
}