#supDetail .header{
    width:100%;
    height:41px;
    background: #ff9900;
}
#supDetail .content{
    width:100%;
    height:auto;
    position:absolute;
    top:41px;
    bottom:0px;
}
.header a{
    display: inline-block;
    width:10%;
    height:41px;
    line-height: 41px;
    text-align: center;
    font-size: 13px;
    color:#fff;
}
.tit{
    display: inline-block;
    width:80%;
    height:41px;
    text-align: center;
    line-height: 41px;
    font-size: 13px;
    color:#fff;
}
.registerInp{
    width:77%;
    padding-left:3%;
    height:40px;
    margin:0 10% 10px 10%;
    font-size: 12px;
    display: block;
    border:1px solid #666;
    border-radius: 2px;
    border-color:rgba(102,102,102,0.6) ;
}
#phoneNum{
    margin-bottom:5px;
    color:rgba(0,0,0,0.6);
    background: rgba(128,128,128,0.6);
}
.showMes{
    clear: both;
    width:80%;
    height:11px;
    font-size: 11px;
    line-height: 11px;
    margin:0 10% 10px 10%;
    color:rgba(0,0,0,0.6);
}
.proMes{
    width:80%;
    height:12px;
    line-height: 12px;
    font-size: 12px;
    margin:5px 10%;
}
.adsInp{
    width:34.5%;
    padding-left:3%;
    height:40px;
    display: inline-block;
    border:1px solid #666;
    margin-bottom:5px;
    border-radius: 2px;
    border-color:rgba(102,102,102,0.6) ;
}
#province{
    float: left;
    margin-left: 10%;
}
#city{
    float: right;
    margin-right:10%;
}
.okBtn{
    width:80%;
    height:42px;
    color:#fff;
    background: #ff9900;
    border-radius: 2px;
    text-align: center;
    margin:0 10%;
    border:0;
    font-size: 18px;
}
.argeeMes{
    width:100%;
    height:50px;
    color:#00ffff;
    text-align: center;
    line-height: 50px;
}